.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.auth-form-container, .login-form, .regidster-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
